#content{
    background-color: yellow;
}

#content .board{
}
#content .board .title{
    text-align: center;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
}
#content .board form{
    border: 2px solid #333;
    padding: 10px ;
}
#content .board form .list_search{
    text-align: center;
    overflow: hidden;
}
#content .board form .list_search .top_info{
    float: left;
}
#content .board form .list_search .sub_info{
    float: left;
}
#content .board form .list_search .list_search4{
    float: right;
}

