body{
    color: #333;
    background: #eee;
}
#content{
}
#content #col2{    
    width: 600px;
    position: absolute;
    top: 50%;
    margin-top: -205px;
    left: 50%;
    margin-left: -300px;
    height: auto;
    
    background-color: rgb(255, 255, 255);
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.3);
    /* Black w/opacity/see-through */
    font-weight: bold;
    border: 3px solid #eee;
    border-radius: 20px;
}
#content #col2 #title{
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}
#content #id_input_button{
    
}
#content #id_input_button #id_pw_title{
    
}
#content #id_input_button #id_pw_title ul{
    list-style: none;
}
#content #id_input_button #id_pw_title ul li.id{
    margin-top: 25px;
    margin-bottom: 25px;
}
#content #id_input_button #id_pw_title ul li.id input{
    border: none;
     width: 500px;
    height: 50px;
    border-bottom: 3px solid #a8191f;
    background: none;
     font-size: 1em;
    padding: 5px 0 0;
}
#content #id_input_button #id_pw_title ul li.pw{
    margin-bottom: 50px;
}
#content #id_input_button #id_pw_title ul li.pw input{
    margin: 0 auto;
    border: none;
     width: 500px;
    height: 50px;
    border-bottom: 3px solid #a8191f;
    background: none;
    font-size: 1em;
    padding: 5px 0 0;
}
#content #id_input_button #login_button{
    width: 450px;
    margin: 30px auto 30px;
    border: 2px solid #a8191f;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    line-height: 1.5em;
    font-size: 1.3em;
}

#content #login_form #login2 #join_button{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 20px;
}
#content #login_form #login2 #join_button a{
    color: #333;
    text-decoration: none;
    font-size: .7em;
}


